
    ul#elasticstack.elasticstack {
    position: absolute;
    z-index: 1;
    width: 340px;
    height: 380px;
    border-width: 60px 20px;
    border-style: solid;
    border-color: rgb(207, 41, 41);
    box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transform-style: preserve-3d;
}
div.carousel-inner {
    position: relative;
    width: 103%;
    overflow: hidden;
}
.carousel-control.right {
    right: 0;
    left: auto;
  background-color: #dc56b9;
    margin-right: 641px;

}
.carousel-control.left {
    right: 0;
    left: auto;

    background-color: #dc56b9;
    margin-right: 1080px;

}
.carousel-indicators {
    position: absolute;
  
    right: 0;
    bottom: 10px;
    left: -323px;
    z-index: 15;

  
    display: flex;
    -webkit-box-pack: center;

    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}


div#card1.item {
}
div#card2.item {
}
div#card3.item {
}
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 27%;
    height: 267px;
}