
body {
    background: #ffffff;
    color: #898989;
    font-family: 'Poppins', helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  h1.back-head {
    -webkit-text-fill-color: rgb(128, 111, 223);
    margin-left: -58px;

  }
  p.back-head {
    -webkit-text-fill-color: rgb(128, 111, 223);
    margin-left: -427px;
    font-size: 14px;
}
.button-app-bag {

    width: 82px;
    height: 26px;

}
.button-app-bag1 {

    width: 82px;
    height: 26px;

}
.h6, h6 {
    font-size: 11px;
    margin-top: 3px;
}

.navbar-expand-md .navbar-collapse {
    margin-top: 22px;
    padding-left: 206px;
}

div#back {
    background: url(back.png) no-repeat;
    padding: 261px;
    margin-top: 38px;
    margin-left: -93px;
}
.h1, h1 {
    font-size: 28px;
}
.h3, h3 {
    font-size: 14px;
}
.h5, h5 {
    font-size: 9px;
    margin-top: 5px;
}
button.service-responsive {
        width: 88px;
        height: 28px;
        background-color: #ffd1d1;
    }

    button.service-responsive1 {
        width: 88px;
        height: 28px;
    }
.service {
margin-top: 1px;
}

div#house {
    background: url(house.PNG) no-repeat;
    padding: 261px;
    margin-top: 194px;
    margin-left: 397px;
}
.h4, h4 {
    font-size: 13px;
    line-height: 22px;
}
div#heading1.container {
        margin-left: 457px;
        margin-top: -292px;
    }

div#image101.container {
    margin-left: 457px;
}
div#blog.container {
}
div#card2.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
	    width: 160px;
  }
  div#col1.column {
    padding: 0 10px;
    width: 289px;
    margin-left: 15px
  }
  div#col2.column {
    padding: 0 10px;
    width: 25%;
  }
  h3.lorel, p {
    -webkit-text-fill-color: white;
    text-align: center;
}
  h3.lore,p.lore {
    -webkit-text-fill-color: black;

  }
  h1.househ {
    font-weight: bold;

    margin-left: -881px;

    font-size: 30px;
}
  
div#house1.hou {
    background: url(images/owner.PNG) no-repeat;
    padding: 261px;
    margin-top: 194px;
    margin-left: 657px;
}
h1.hous1 {
    -webkit-text-fill-color: rgb(106, 92, 184);
}
h1.hous2 {
    -webkit-text-fill-color: rgb(236, 135, 19);
}
p.hous3 {
    -webkit-text-fill-color: rgb(128, 111, 223);
    margin-left: -4px;
    text-align: initial;
    padding-left: -21px;
    font-size: 13px;
    margin-top: 18px;
    padding: -18px;
}
p.hous4 {
    -webkit-text-fill-color: rgb(7, 7, 7);
    
    padding-top: 10px;

    
    width: 158px;


}
div#serviceimages5 {
    margin-left: 48px;
    font-size: 11px;
    text-align: -webkit-center;
}
div#serviceimages4{
    margin-left: -23px;
font-size: 11px;
text-align: -webkit-center;
}
div#serviceimages3 {
    margin-left: 67px;
    margin-top: 19px;
    font-size: 11px;
    text-align: -webkit-center;
}
div#serviceimages2 {
    margin-left: 57px;
    font-size: 11px;
    text-align: -webkit-center;
}
div#serviceimages1{
  
   
  
    margin-left: -179px;

    font-size: 11px;
    text-align: -webkit-center;


}
.btn-outline {
    border: 2px solid #231f20;
    background-color: transparent;
    color: black;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
button {

    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
   
}
button.button-app-bag {
    width: 78px;
    background-color: rgb(86, 19, 243);
 
}
button.button-app-bag1 {
    width: 78px;
    background-color: rgb(240, 217, 12);
}
div.bag-smar {
    margin-left: 387px;
    padding-top: 7px;
}
.elasticstack {
    position: relative;
    margin: 40px auto;
    padding: 0;
    width: 356px;
    height: 380px;
    list-style: none;
    perspective: 1000px;
    perspective-origin: 50% 150%;
}
.elasticstack li.animate {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.elasticstack li {
    position: absolute;
    z-index: 1;
    width: 340px;
    height: 380px;
    border-width: 60px 20px;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transform-style: preserve-3d;
}
div.bac {
    background: url(images/bac.PNG) no-repeat;
    padding: 198px;
    margin-top: 528px;
    margin-left: 830px;
}
button.service-responsive3 {
    
    background-color: #ffd1d1;
    width: 125px;
    margin-left: -10px;
    margin-right: 17px;
}
div.button-cont {
    margin-left: 438px;
    
    margin-top: -335px;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
div.back-color {
    background-color: #f3acb8;
    /* background-size: 10px; */
    height: 191px;
    margin-bottom: 128px;
}
div.back1-color {
}
div#myCarousel.carousel.slide.pointer-event {

    margin-top: 210px;

    margin-right: 547px;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: .5rem;
}

div#fluid2.container-fluid {
    margin-left: 417px;
    margin-top: 56px;
    padding-right: 386px;
}
div#fluid3.container-fluid {
    margin-left: 417px;
    margin-top: 56px;
    padding-right: 386px;
}
p.add {
    -webkit-text-fill-color: rgb(148 144 144);
    margin-left: -795px;

}
div#fluid3.container-fluid {
    margin-left: 463px;
    margin-top: 56px;
}
div#legal2.col-md-2.col-half-offset.company_about_inner {
margin-top: 12px;
}

div#legal3.col-md-2.col-half-offset.company_about_inner {
margin-top: 12px;
}
div.ico {
margin-left: 26px;
}
div#cil1.col-md-2.col-half-offset.company_about_inner {}
div#serviceimages6.col-md-2.col-half-offset.company_about_inner {}
div#serviceimages7.col-md-2.col-half-offset.company_about_inner {

                margin-top: 11px;
}
div#serviceimages8.col-md-2.col-half-offset.company_about_inner {
    

}

div#serviceimages9.col-md-2.col-half-offset.company_about_inner {
    
}
div#serviceimages10.col-md-2.col-half-offset.company_about_inner {}
div#serviceimages11.col-md-2.col-half-offset.company_about_inner {

    margin-top: 12px;

}
div#serviceimages12.col-md-2.col-half-offset.company_about_inner {

          margin-top: 12px; 
      
}
div#serviceimages13.col-md-2.col-half-offset.company_about_inner {}
div#bl1.container{
    margin-right: -245px;
}
div#card3.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width: 160px;
    margin-left: -102px;
    height: 135px;
}
div#card4.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width: 160px;
    margin-left: -206px;

    }
div#card5.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width: 160px;
    margin-left: -315px;
    height: 141px;
}


