 
@media only screen and (max-width:800px) {

    a.navbar-brand 
    {margin-right: 1497px;
    }
    html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        width: fit-content;
        
        padding: 51px;
    
    }

    div#fluid2.container-fluid {
        margin-left: 212px;
        margin-top: -208px;
        padding: 230px;
        padding-right: 59px;
    }
div#fluid3.container-fluid {
    margin-left: 417px;
    margin-top: 56px;
    padding-right: 386px;
    padding-right: 11px;
}
div#box-item1.container {
    padding-right: 80px;

}
div#serviceimages1 {
    margin-left: -550px;
    font-size: 11px;
    text-align: -webkit-center;
    padding-left: 3px;
}

div#serviceimages3 {
    margin-left: -50px;
    margin-top: -154px;
    font-size: 11px;
    text-align: -webkit-center;
}
div#serviceimages2 {
    margin-left: -303px;
    font-size: 11px;
    text-align: -webkit-center;
    margin-top: -166px
}
div#serviceimages4 {
    margin-left: -462px;
    font-size: 11px;
    text-align: -webkit-center;
}
div#serviceimages5 {
    margin-left: -221px;
    font-size: 11px;
    text-align: -webkit-center;
    margin-top: -166px;
}
div#heading1.container {
    margin-left: 570px;
    margin-top: -386px;
}
div#legal1.col-md-2.col-half-offset.company_about_inner {

}
div#legal2.col-md-2.col-half-offset.company_about_inner {
    margin-left: 151px;
    margin-top: -68px;

}
div#legal3.col-md-2.col-half-offset.company_about_inner {
    margin-left: 292px;
    margin-top: -66px;

}
div#legal4.col-md-2.col-half-offset.company_about_inner {
    margin-left: 409px;
    margin-top: -73px;

}
div#house {
    background: url(house.PNG) no-repeat;
    padding: 261px;
    margin-top: 194px;
    margin-left: 513px;
}
p.add {
    -webkit-text-fill-color: rgb(148 144 144);
    margin-left: -1176px;
}


p.hous3 {
    -webkit-text-fill-color: rgb(128, 111, 223);
    margin-left: 98px;
    text-align: initial;
    padding-left: -21px;
    font-size: 13px;
    margin-top: 18px;
    padding: -18px;
}
div.ico{
    margin-left: 89px;
}

div#cil1.col-md-2.col-half-offset.company_about_inner {}
div#serviceimages6.col-md-2.col-half-offset.company_about_inner {
    margin-left: 122px;
    margin-top: -79px;
}

div#serviceimages7.col-md-2.col-half-offset.company_about_inner {
    margin-left: 256px;
    margin-top: -79px;
}
div#serviceimages8.col-md-2.col-half-offset.company_about_inner {
    margin-left: 370px;
    margin-top: -86px;
}

div#serviceimages9.col-md-2.col-half-offset.company_about_inner {
    margin-left: 480px;
  
    margin-top: -99px;

}
div#serviceimages10.col-md-2.col-half-offset.company_about_inner {

    margin-top: -266px;

}
div#serviceimages11.col-md-2.col-half-offset.company_about_inner {
    margin-left: 109px;
    margin-top: -257px;
}
div#serviceimages12.col-md-2.col-half-offset.company_about_inner {
    margin-left: 219px;
    margin-top: -254px;
}
div#serviceimages13.col-md-2.col-half-offset.company_about_inner {
    margin-left: 319px;
    margin-top: -262px;
}
div#myCarousel.carousel slide{
    margin-left: 614px;
}
div#myCarousel.carousel.slide.pointer-event {
    margin-top: 210px;
    margin-right: 592px;
}
div#bl1.container {
    margin-right: -417px;
}
}
@media only screen and (max-width:1036px) {
    div#fluid2.container-fluid {
        margin-left: 417px;
        margin-top: 56px;
        padding-right: 289px;
    }
    div#serviceimages13.col-md-2.col-half-offset.company_about_inner {
        margin-left: 43px;
    }
    div#serviceimages11.col-md-2.col-half-offset.company_about_inner {
        margin-top: 12px;
        margin-left: 35px;
    }
    div#serviceimages12.col-md-2.col-half-offset.company_about_inner {
        margin-top: 12px;
        margin-left: 30px;
    }
    div#col2.column {
        padding: 9px 18px;
        width: 25%;
        padding-left: 45px;
    }
    div#card2.card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 14px;
        text-align: center;
        background-color: #f1f1f1;
        width: 160px;
        margin-left: -31px;
    }
    
    div#card3.card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
        width: 160px;
     
        margin-left: -94px;

        height: 135px;
    }
    div#card4.card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
        width: 160px;
        margin-left: -168px;
    
        }
    div#card5.card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
        width: 160px;
        margin-left: -239px;
        height: 141px;
    }
    

div#myCarousel.carousel.slide.pointer-event {
    margin-top: 210px;
    margin-right: -180px;
}
p.add {
    -webkit-text-fill-color: rgb(148 144 144);
    margin-left: -451px;
}
p.hous3 {
    -webkit-text-fill-color: rgb(128, 111, 223);
    margin-left: 125px;
    text-align: initial;
    padding-left: -21px;
    font-size: 13px;
    margin-top: 18px;
    padding: -18px;
}
div.ico {
    margin-left: 160px;
}

}
@media only screen and (max-width:1024px) {
    div#back {
        background: url(back.png) no-repeat;
        padding: 261px;
        margin-top: 38px;
        margin-left: -1146px;
    }
}